.hero{
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
    url("https://images.unsplash.com/photo-1517836357463-d25dfeac3438?auto=format&fit=crop&w=1600&q=80");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 140px 20px;
}

.hero-content{
    max-width:700px;
    margin:auto;
}

.hero h2{
    font-size:48px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:30px;
    line-height:1.6;
}
